body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chart{
    position: relative;
    width: 40vw;
  
}



@media only screen and (max-width: 790px) {
    .chart {
      width: 80vw;
    }
  }